// Place all the styles related to the product_retails controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.search_bar{
  margin-left: 30%;
  margin-top: 10%;
}

#search{
  width: 40%;
}

.out{
  margin-left: -10%;
  margin-top: 20%;
}
